extends ../layout/index

block styles
    link(rel="stylesheet", href="/css/login.css")

block contenido
    div(class="contenedor-login")
        img(src="/img/logo.png", alt="logotipo icon")
        h1 RECUPERAR CUENTA
        form(action="POST" class="formulario-login")
            div
                label(for="email") Email
                input(type="email" id="email" name="email")
            div
                input(type="submit", value="Enviar Instrucciones")

            div(class="olvide-link")
                a(href="/auth/login") Ya tengo una cuenta