extends ../layout/index

block styles 
    link(rel="stylesheet", href="/css/add.css")
block contenido
    if errores
            div(class="error-container")
                each error in errores
                    p(class="error-style")= error.msg
    div(class="add-container")
        h1 Cambiar Contrase単a
        form(method="POST" action="/new-password")
            div
                label(for="oldPass") Contrase単a Antigua
                input(type="password" id="oldPass" name="oldPass")
            div
                label(for="newPass") Contrase単a Nueva
                input(type="password" id="newPass" name="newPass")

            input(type="submit", value="Cambiar Contrase単a" class="add-btn")   
            